* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /*默认的body ，html高度为零 ，不设置则后面的div高度无法用%来设置高度*/
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.05rem;
}

.menu>li {
  display: inline-block;
  font-size: 16px;
}

.sub-menu {}

.bar {
  width: 500px;
  margin: 20px auto;
  font-size: 0px;
}

.bar li {
  line-height: 40px;
  padding: 0 10px;
  background: #09f;
  color: #fff;
  position: relative;
  list-style-type: none;
}

.bar li ul {
  position: absolute;
  height: 0;
  left: -40px;
  top: 40px;
  overflow: hidden;
}

.bar li ul li {
  float: none;
  white-space: pre-line;
  text-align: center;
  background: #f90;
  transition: all .3s;
  opacity: 0;
  /*淡入*/
}

.bar li:hover ul {
  overflow: visible;
}

.bar li ul li:nth-of-type( 1n) {
  transform: translate3d( 100%, 0, 0);
}

.bar li ul li:nth-of-type( 2n) {
  transform: translate3d( -100%, 0, 0);
}

.bar li:hover ul li {
  transform: translate3d( 0, 0, 0);
  /*恢复原样*/
  opacity: 1;
  /*淡入*/
}

.bar li ul li:nth-of-type( 2) {
  transition-delay: .1s;
}

.bar li ul li:nth-of-type( 3) {
  transition-delay: .2s;
}

.bar li ul li:nth-of-type( 4) {
  transition-delay: .3s;
}

.bar li ul li:nth-of-type( 5) {
  transition-delay: .4s;
}

.up {
  width: 50%;
  height: 50%;
  background: #cacaca;
  margin: 0 auto;
}

.main {
  height: 50%;
  width: 100%;
}

.left {
  height: 100%;
  width: 50%;
  float: left;
  background: violet;
}

.right {
  height: 100%;
  width: 50%;
  float: right;
  background: lightblue;
}

#demo {
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: red blue green pink;
  clear: both;
}

.abmid {
  position: absolute;
  margin: 20px auto;
  clear: both;
  width: 200px;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.floatmid {
  width: 200px;
  position: relative;
  left: 50%;
  margin: 20px 0 20px -100px;
}

.center {
  max-width: 600px;
  margin: 20px auto;
  border: 3px outset lightblue;
  list-style-type: none;
  position: relative;
  clear: both;
}

.center li {
  list-style-type: none;
  margin: 20px 20px;
}

.three-column {
  padding: 1px;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

.img {
  float: right;
  margin: 0 0 2px 2px;
  width: 60%;
}

.im {
  float: left;
}

.af {
  clear: both;
}

.nav {
  max-width: 600px;
  margin: 0 auto;
  border: 3px ridge lightblue;
}

.span {
  max-width: 200px;
  margin: 0px 0px;
  border: 3px ridge lightblue;
  padding: 12px;
  position: absolute;
}

.nav2 {
  max-width: 600px;
  margin: 20px auto;
  border: 3px ridge lightblue;
  position: relative;
}

.nav3 {
  max-width: 600px;
  margin: 0px auto;
  border: 3px ridge lightblue;
  padding: 5px;
  position: relative;
  margin-left: 200px;
  overflow: auto;
  zoom: 1;
}

#audio_btn {
  width: 120px;
  height: 120px;
  background-size: contain;
}

.rotate {
  -webkit-animation: rotating 8s linear infinite;
  -moz-animation: rotating 8s linear infinite;
  -o-animation: rotating 8s linear infinite;
  animation: rotating 8s linear infinite;
  overflow: hidden;
}

.rotate1 {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  overflow: hidden;
}

.rotate2 {
  -webkit-animation: rotating 0.5s linear infinite;
  -moz-animation: rotating 0.5s linear infinite;
  -o-animation: rotating 0.5s linear infinite;
  animation: rotating 0.5s linear infinite;
  overflow: hidden;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotating {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0)
  }
  to {
    -moz-transform: rotate(360deg)
  }
}
